.modalContainer {
  align-items: center;
  background-color: #99999966;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.2s ease;
  visibility: hidden;
  z-index: 600;
  backdrop-filter: blur(50px);
}
.comparecardactualWrapper {
  display: flex;
}

.modalContainer.show {
  opacity: 1;
  visibility: visible;
}
.modalImage {
  height: 10rem;
}
/* .image[fadeIn="1"] {
  animation: fadeIn 1s 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
