*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background-color: #eff1ff;
  font-family: "Petrona", serif;
  line-height: 1.5;
  font-size: 2rem;
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: none; /* for Firefox */
}
p {
  font-size: 2rem;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style-type: none;
}

#root,
#__next {
  isolation: isolate;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --white: #fffbd5;
  --w: #ffffff;
  --blue: #aae0fa;
  --u: #22b5ff;
  --black: #8d7f8d;
  --b: #1a1a1a;
  --red: #f9aa8f;
  --r: #c20d00;
  --green: #9bd3ae;
  --g: #007b29;
  --colorless: #ccc2c0;
  --x: #8a8a8a;
  --accent-dark: #607694;
  --accent-light: #e9e9e9;
  --primary-black: #131200;
}
.mainButton {
  background-color: var(--accent-light);
  border-radius: 45px;
  border: var(--primary-black) 2px solid;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.2rem 1rem;
  transition: all 0.2s ease-in;
}
.mainButton:hover {
  background-color: var(--accent-dark);
  color: var(--accent-light);
  transition: all 0.2s ease-in;
}
.mainButton:active {
  transform: scale(0.95);
}
.currentSet {
  margin: 1rem 0;
}

@media only screen and (max-width: 850px) {
  body {
    margin: auto;
  }
}
